
.subNav .children a:link, .subNav .children a:visited, .relatedSections a:link, .relatedSections a:visited {
    color: #fff;
    background: url(https://assets.ngin.com/theme_images/epic/darkblue_red_grass/subNavBack.gif) bottom left repeat-x;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: red;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}{
   box-sizing: border-box; 
}.menu li {
    padding: 8px;
}
